nav a:hover {
    background-color: #1983a3;
    color: #000000;
    border-radius: 5px;}/* this to make the hover effect on the nav bar*/

 .blink {
    animation: blink 2s infinite;}/* this to make the text blink*/

/* styles for the hero banner video*/
.hero-banner-inner {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
/* styles for the hero banner text*/
.hero-banner-inner h1 {
    font-size: 4rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.placeholder {
    display: none;
}
img:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}/* this to make the image bigger when hover on it*/
img{border-radius: 15px;}/* this to make the image round*/

/*styles to adjust carousel control button*/
.carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: rgb(47, 12, 243);
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
        .carousel-control-prev,
        .carousel-control-next {
            filter: drop-shadow(0 0 5px rgba(47, 0, 0, 0.7));
        }